<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Elite Plus Magazine</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-title>News</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="getTodos($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let todo of todos">
            <ion-label>{{todo.id}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>