<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="gotoHomepage()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="dataContent as itemContent;">{{dataContent.name_menu}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="dataContent as itemContent;">
    <ion-item lines="none" class="item md item-lines-none ion-focusable hydrated">
        <img [src]="imageBaseUrl+'/content/'+itemContent.cover_content" alt="itemContent.title_content">

    </ion-item>
    <ion-grid>
        <ion-row class=" ion-align-items-center ion-justify-content-between md hydrated">
            <ion-col size="12" class="ion-padding articleTitleContent">
                {{itemContent.title_content}}
            </ion-col>

            <ion-col class="text-author">
                by {{itemContent.firstname_user}} {{itemContent.lastname_user}}
            </ion-col>
            <ion-col class="text-author ion-text-right">
                {{itemContent.date_add | date: 'MMMM dd, yyyy'}}
            </ion-col>

        </ion-row>
        <ion-row class="color">
            <ion-col class="ion-padding">
                <div [innerHTML]="transform(itemContent.detail_content)" class="line-height"></div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>